.destination {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: var(--basic-margin) 0;
  /* border-bottom: 1px solid black; */
}

.selects {
  display: flex;
  flex-direction: column;
}

.restaurant-name {
  font-size: 20px;
  margin: 0px 2px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

form {
  display: flex;
  flex-direction: column;
}
